@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$black: #034946;
$white: #fff;
$grey: #707070;
$orange: #ffbd2e;
$green: #28ca41;
$first-colour: #079992;
$second-colour: #38ada9;
$third-colour: #3a2755;
$poppins: "Poppins", sans-serif;

html {
  font-size: 62.5%;
}
body {
  color: $black;
  font-family: $poppins;
}
h1 {
  font-size: 3rem;
  font-family: $poppins;
}
h2 {
  font-size: 6rem;
  font-family: $poppins;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-size: 1.5rem;
}
li {
  font-size: 1.5rem;
  list-style: none;
}
a {
  color: $black;
  text-decoration: none;
}
img {
  width: 100px;
}
@import "home";
// @import "toggleMenu";
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and(max-width: 767px) {
  html {
    font-size: 50%;
  }
  .img-large {
    margin-bottom: 5rem !important;
  }
  .img-small {
    margin-top: 5rem !important;
  }
  .process {
    .right {
      margin-top: 5rem !important;
    }
  }
}
